{% macro list(items = []) %}      
      <ul class="contacts__list reset-list">
      {% for item in items %}
        <li class="contacts__item">
        <span class="contacts__title">
          {{ item.title }}
        </span>
      </li>
      {% endfor %}
          <li>
            <a class="map-link" href="https://www.google.com/maps/place/%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%B0%D1%8F+%D0%9A%D0%BE%D0%BD%D1%8E%D1%88%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F+%D1%83%D0%BB.,+19%2F8,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F,+191186/@59.9387192,30.3208587,17z/data=!3m1!4b1!4m5!3m4!1s0x4696310fca145cc1:0x42b32648d8238007!8m2!3d59.9387165!4d30.3230474">Как нас найти</a>
          </li>
          <a class="phonenumber" href="tel:+74956660266">+7 (495) 666-02-66</a>
      </ul>
{% endmacro %}      