@include normalize();

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: $base-font;
  @include font-size(14);
  font-weight: 700;
  text-transform: uppercase;
}

article {
  margin: 0;
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  @include font-size(30);
}

h2 {
  @include font-size(24);
}

h3 {
  @include font-size(20);
}

p {
  @include font-size(14);
}

.content {
  flex: 1 0;
}

.container {
  width: 100%;
  padding: 0 15px;

  @include small {
    margin: 0 auto;
    width: 540px;
  }

  @include medium {
    width: 720px;
  }

  @include large {
    width: 950px;
  }

  @include extra {
    width: 950px;
  }
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  background: #000;
  color: #fff;
  border: none;

  &:hover {
    background: #653D15;
  }
}

.text--hover {
  &:hover {
    color: $secondary;
  }
}