{% extends 'components/Hero/hero-layout.html' %}

{# logo #}
{% block heroLogo %} 
{% include 'components/Index-logo/index-logo.html' %}
{% endblock %} 

{# heroList #}
{% block heroList %}
{% include 'components/Hero/Hero-list/hero-list.html' %}
{% endblock %}

{# heroInform #}
{% block heroInform %}
{% include 'components/Hero/Hero-inform/hero-inform.html' %}
{% endblock %}

{# heroConection #}
{% block heroConnection %}
{% include 'components/Hero/Hero-connection/hero-connection.html' %}
{% endblock %}