{% 
    set paragraphs = [
    { descr: 'Наша парикмахерская занимается исключительно мужскими стрижками. Стрижка каждого клиента для нас - это уникальная и продуманная до мелочей работа. Мы не работаем на количество, мы делаем качество.' },
    { descr: 'Наша мастерская расположена в центре города, поэтому сделать стильную стрижку можно в любое время, даже в обеденный перерыв. Здесь вы можете погрузиться в удобную для вас атмосферу, чувствовать себя комфортно и свободно!' }
    ]
%}


<div class="price-bottom">
    <h2 class="price-bottom__title">НЕСКОЛЬКО СЛОВ О НАС:</h2>
    <div class="price-bottom__descr--wrapper">
        {% for item in paragraphs %}
        <p class="price-bottom-descr">{{ item.descr }}</p>
        {% endfor %}
    </div>
</div>