.kinds__input {
  display: none;
}

.kinds__radio {
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 2px solid #000;
    vertical-align: middle;
    margin-right: 23px;
    border-radius: 50%;
    
  }
}

.kinds__input:checked + .kinds__radio:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  left: 6px;
  top: 6px;
}

.radio__text {
  cursor: pointer;
  &:hover {
    color: $secondary;
  }
}

.leftbar__item--kinds {
  display: flex;
}