<section class="product">
	<div container class="container container--product">
		<h1 class="product__title">набор для путешествий "baxter of california"</h1>
		<ul class="product__list">
			<li class="product__items">Главная</li>
			<li class="product__items">магазин</li>
			<li class="product__items">средства для ухода</li>
			<li class="product__items product__items--gray">набор для путешествий "Baxter of California"</li>

		</ul>
		<div class="product__column--wrapper">
			<div class="product__column--left">
				<img src="img/Layer47.png" alt="товар" class="product__img--large">
				<img src="img/Layer48.png" alt="товар" class="product__img">
				<img src="img/Layer46.png" alt="товар" class="product__img">
				<img src="img/Layer45.png" alt="товар" class="product__img">
			</div>
			<div class="product__column--right">
				<div class="product__span--wrapper">
					<span class="product__span--price">есть в наличии</span>
					<span class="product__span--article">артикул: dexter-AE</span>
				</div>
				<p class="product__description">Travel Kit – необходимый аксессуар во время любого путешествия. В аккуратной кожаной
					сумке находится все, что нужно для бритья и ухода за кожей во время рабочей поездки или отдыха: средство для умывания,
					увлажняющий крем, крем для бритья, крем после бритья, шампунь. Набор также может стать отличным подарком.</p>
				<div class="product__buy--wrapper">
					<div class="product__price--wrapper">
						<span class="product__price">2 900 ₽</span>
						<button class="product__btn">Купить</button>
					</div>
					<div class="product__set">
						<h2 class="product__set--title">В набор входят:</h2>
						<ul class="product__set--list">
							<li class="product__set--item">Средство для умывания (50 мл)</li>
							<li class="product__set--item">Увлажняющий крем (50 мл)</li>
							<li class="product__set--item">Крем для бритья (50 мл)</li>
							<li class="product__set--item">Крем после бритья, шампунь (50 мл)</li>
							<li class="product__set--item">Удобная кожаная косметичка</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</section>