.nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: $primary;
	transform: translateX(100%);
	transition: all 0.5s linear;
	@include medium {
		position: static;
		transform: translateX(0%);
		width: auto;
		height: auto;
		flex-direction: row;
	}
}

.nav__list--active {
	transform: translateX(0);
  }

.nav__link {
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
	@include medium {
		padding: 25px 22px 30px 22px;
	}
}

.nav__link:before, .nav__link:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 5px;
	background: #fff;
	transition: all .5s ease-in-out;
}



.nav__link:before {
	bottom: 0;
	left: 0;
}

.nav__link:after {
	bottom: 0;
	right: 0;
}

.nav__link:hover {
	background: rgba(255, 255, 255, .2);
	transition: background .2s linear;
}

.nav__link:hover:before, .nav__link:hover:after {
	width: 50%;
}

.nav__item:not(:last-child) {
	margin-bottom: 20px;
	@include medium {
		margin-bottom: 0;
	}
}

.nav__btn {
	width: 30px;
	height: 30px;
	border: 2px solid $secondary;
	border-radius: 50%;
	background: transparent;
	outline: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
}

.nav__btn--open {
	@include medium {
		display: none;
	}
}

.nav__btn--close {
	position: fixed;
	top: 15px;
	right: 15px; 
	@include medium {
		display: none;
	}
}

.fas {
	color: $secondary;
}

.nav__link--p {
	position: relative;
	&:after {
		content: '';
		width: 100%;
		height: 5px;
		background: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		display: none;	
	}
}

.nav__link--m {
	position: relative;
		&:after {
		content: '';
		width: 100%;
		height: 5px;
		background: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
		display: none;	
	}
}


.price-listpage .header .container--header .nav .nav__list .nav__item .nav__link--p:after {
	display: block;
}